.buyout {
  margin-top: 5rem;
  width: 100%;

  @include breakpoint($xl-bp) {
    margin-top: 2rem;
  }

}




.buyout-title {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 15rem;

  @include breakpoint($xl-bp) {
    flex-direction: column;
    justify-content: normal;
    align-items: normal;
    margin-bottom: 10rem;
  }


  .buyout-title__title {
    font-size: 8.6rem;
    line-height: 11.1rem;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 4rem;

    @include breakpoint($xl-bp) {
      font-size: 4.2rem;
      line-height: 5.5rem;
      margin-bottom: 2rem;

    }
  }

  .buyout-title__wrapper {
    width: 125.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint($xl-bp) {

      width: 100%;
      margin-bottom: 4rem;

    }

    p {
      width: 82.5rem;
      font-weight: 400;
      line-height: 2.9rem;
      letter-spacing: 0em;
      text-align: left;

      @include breakpoint($xl-bp) {
        width: 100%;
        font-size: 1.4rem;
        line-height: 2.5rem;
      }
    }
  }

}


.buyout-list {
  width: 100%;
  margin-bottom: 20rem;

  @include breakpoint($xl-bp) {
    margin-bottom: 10rem;
  }



  .buyout-list__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    @include breakpoint($xl-bp) {
      align-items: center;
      flex-direction: column;
      gap: 2rem;
    }

    li {
      padding: 2rem;
      border-radius: 1rem;
      background: $lightGray;
      display: flex;
      align-items: center;
      gap: 5rem;

      @include breakpoint($xl-bp) {
        gap: 1rem;
        width: 100%;
      }

      &:hover,
      &:focus {
        animation: pulse 1s;
        box-shadow: 0 0 0 2em transparent;
      }

      @keyframes pulse {
        0% {
          box-shadow: 0 0 0 0 $lightGray;
        }
      }
    }

    .buyout-list-title {
      font-size: 10rem;
      line-height: 13rem;
      letter-spacing: 0em;
      text-align: left;
      color: $blue;

      @include breakpoint($xl-bp) {
        font-size: 5rem;
        line-height: 6.5rem;
      }

    }

    .buyout-list-subtitle {
      line-height: 2.9rem;
      letter-spacing: 0em;
      text-align: left;

      @include breakpoint($xl-bp) {
        font-size: 1.4rem;
        line-height: 2.5rem;
      }
    }
  }
}

.product-cards {
  width: 100%;
  display: flex;
  gap: 3rem;
  margin-bottom: 20rem;

  @include breakpoint($xl-bp) {
    margin-bottom: 10rem;
    flex-direction: column;
  }


  .product-cards__left {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include breakpoint($xl-bp) {
      gap: 2rem;
    }
  }

  .product-cards__right {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include breakpoint($xl-bp) {
      gap: 2rem;
    }
  }

  .product-card {
    width: 82.5rem;
    padding: 2rem;
    border-radius: 1rem;
    border: 0.1rem solid #CDCED2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    img {
      transition: 1s;
      transform: scale(1);
    }
    &:hover {
      img {
        transition: 1s;
        transform: scale(1.1);
      }

    }

    @include breakpoint($xl-bp) {
      width: 100%;
      gap: 2rem;
      flex-direction: column;
    }
  }



  .product-card__wrapper {

    @include breakpoint($xl-bp) {
      display: flex;
      flex-direction: column;
      width: 100%;

    }
  }

  .product-card__title {
    font-size: 4.3rem;
    line-height: 5.6rem;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 4rem;

    @include breakpoint($xl-bp) {
      font-size: 3rem;
      line-height: 3.9rem;
      margin-bottom: 2rem;

    }

  }

  .product-card__subtitle {
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 1rem;

    @include breakpoint($xl-bp) {
      line-height: 2.8rem;
    }
  }

  .product-card__buttons {
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    @include breakpoint($xl-bp) {
      margin-bottom: 2rem;
    }

    button {
      height: 3.9rem;
      padding: 0.5rem 1.5rem;
      border-radius: 1rem;
      border: 0.1rem solid #000000;
      background: $white;
      line-height: 2.9rem;
      letter-spacing: 0em;
      text-align: left;
      cursor: pointer;

      @include breakpoint($xl-bp) {
        font-size: 1.4rem;
        line-height: 2.5rem;
      }

      &:hover,
      &:focus {

        box-shadow: 0 0.5em 0.5em -0.4em $blue;
        transform: translateY(-0.25em);

      }

    }
  }

  img {
    width: 30.1rem;
    height: 31.8rem;

    @include breakpoint($sm-bp) {
      width: 100%;
      height: 100%;
    }
  }

  .button--width {
    width: 39.7rem;
    margin: 0;

    @include breakpoint($sm-bp) {
      width: 100%;
    }
  }

}