

.categories {
  margin-top: 5rem;
}

.breadcrumbs {

  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: 0em;
  text-align: left;

  span {
    color: $blue;
  }

  margin-bottom: 4rem;
}





.content-services {

  .content-services__filter {
    
    width: 54rem;
    max-height: 81.2rem;
  }

  .content-services__filter-title {
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 3rem;
  }

  .content-services-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 10rem;

    li {
      font-size: 2.6rem;
      line-height: 4.7rem;
      letter-spacing: 0em;
      text-align: left;
      min-height: 2.9rem;
      position: relative;
      cursor: pointer;
      padding-top: 0.4rem;
      margin-right: 1.9rem;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -0.4rem;
        width: 0;
        height: 0.2em;
        background-color: #4E42AE;
      }

    }

    li:hover {
      color: #4E42AE;
      padding: 0;

      &::before {
        width: 100%;
        transition: width 0.35s;
      }
    }

    .active {
      color: #4E42AE;
      padding: 0;

      &::before {
        width: 100%;
        transition: width 0.35s;
      }
    }
  }



}

