.content-title {
  font-size: 8.6rem;
  line-height: 11.2rem;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.content-services {
  display: flex;
  justify-content: space-between;
  padding-top: 4.8rem;
  margin-bottom: 20rem;

  #sticky {
    position: sticky;
    top: 3.2rem;
  }


  .content-services__filter {
    width: 54rem;
    max-height: 81.2rem;
  }

  .content-services__filter-title {
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 3rem;
  }

  /*-------------------accordion-----------------------*/

  .accordion {
    width: 54rem;
    margin-bottom: 10rem;

  }

  .accordion .accordion-item {
    padding: 2rem 0rem 1rem 0;
    border-bottom: 1px solid $gray;
    margin-bottom: 1.2rem;
  }

  .accordion .ui-accordion-header {
    font-family: IBM Plex Mono;
    font-size: 2.6rem;
    letter-spacing: 0em;
    text-align: left;
    padding: 1.5rem 0;

    background: #ffffff;
    cursor: pointer;
    outline: none;
  }

  .accordion .ui-accordion-content {
    ul {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;

    }

    li {
      min-height: 2.9rem;
      position: relative;
      cursor: pointer;
      letter-spacing: 0em;
      text-align: left;
      padding-top: 0.4rem;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -0.4rem;
        width: 0;
        height: 0.4em;
        background-color: #4E42AE;
      }

    }

    li:hover {
      color: #4E42AE;
      padding: 0;

      &::before {
        width: 100%;
        transition: width 0.35s;
      }

    }


    .active {
      color: #4E42AE;
      padding: 0;

      &::before {
        width: 100%;
        transition: width 0.35s;
      }

    }
  }

  .accordion .ui-accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .accordion .ui-accordion-header-icon {
    display: inline-block;
    width: 6.5rem;
    height: 2.3rem;
    border: 0.1rem solid #CDCED2;
    border-radius: 3.5rem;
    background: url(../images/svg/icon_down.svg) 50% 50% no-repeat;

  }

  .accordion .ui-accordion-header-active .ui-accordion-header-icon {
    background: url(../images/svg/icon_up.svg) 50% 50% no-repeat;
  }




  /*---------------------------------------------*/




  .content-services__price {
    width: 96.7rem;
  }


  .content-services__list {
    // height: 5.31rem;
    padding: 1rem 5rem;
    border-radius: 1rem;
    background: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.6rem;
    cursor: pointer;

    &:hover {
      background: $blue;
      color: $white;

      .content-services__description {
        color: $white;
      }
    }
  }

  .content-services__title {

    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
  }

  .content-services__description {

    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
    color: #989898;

  }

  .content-services__old-price {
    color: #989898;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: line-through;
  }

  .content-services__new-price {
    font-size: 2.6rem;
    line-height: 4.6rem;
    letter-spacing: 0em;
    text-align: left;
    color: #EC0A94;

  }
}

.content-description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 17rem;



  .content-description__subtitle {
    width: 53.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .content-description___name {
      font-size: 8.6rem;
      line-height: 11.2rem;
      letter-spacing: 0em;
      text-align: left;
      text-transform: uppercase;
      color: $blue;
    }

    .content-description__title {
      font-size: 2.6rem;
      line-height: 4.6rem;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 3rem;
    }

    .content-description__text {
      font-weight: 400;
      line-height: 2.9rem;
      letter-spacing: 0em;
      text-align: left;
    }

    .button {
      width: 39.7rem;
      margin-bottom: 0;
    }
  }

  .content-description__image {
    width: 68.2rem;
    height: 74rem;

    img {
      width: 100%;

    }
  }

  .content-description__list {
    width: 39.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    li {
      width: 100%;
      padding: 2rem;
      border-radius: 1rem;
      border: 1px solid $gray;


      .list-title {
        font-size: 2.5rem;
        line-height: 4.6rem;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 1rem;
      }

      .list-subtitle {

        font-weight: 400;
        line-height: 2.9rem;
        letter-spacing: 0em;
        text-align: left;

      }
    }
  }

}


.content-slogan {
  width: 100%;
  margin-bottom: 17rem;

  .content-slogan__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 11rem;

    .content-slogan__header-title {
      font-size: 8.6rem;
      line-height: 8rem;
      letter-spacing: 0em;
      text-align: left;
      text-transform: uppercase;
    }

    .content-slogan__header-subtitle {
      font-weight: 400;
      line-height: 2.9rem;
      letter-spacing: 0em;
      text-align: left;

    }
  }

  .content-slogan__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 57rem;

    li {
      width: 82.5rem;
      height: 16.9rem;
      padding: 2rem;
      border-radius: 1rem;
      background: $lightGray;
      margin-bottom: 3rem;
      display: flex;
      align-items: center;


    }

    .content-slogan__list-title {
      font-size: 10rem;
      line-height: 13rem;
      letter-spacing: 0em;
      text-align: left;
      color: $blue;
      margin-right: 5rem;
    }

    .content-slogan__list-subtitle {
      line-height: 2.9rem;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}

.content-instruction {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20rem;

  .content-instruction__wrapper {
    width: 82.8rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .button {
      z-index: 1;
      margin-bottom: 0;
    }

    .content-instruction__title {
      font-size: 8.6rem;
      line-height: 11.2rem;
      letter-spacing: 0em;
      text-align: left;
      text-transform: uppercase;
      margin-bottom: 8rem;

    }

    .content-instruction__list {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 8rem;

      li {
        width: 39.7rem;
        height: 12rem;
        border: 1px solid $gray;
        border-radius: 1rem;
        padding: 2rem;
        display: flex;
        align-items: center;

      }

      .content-instruction__list-title {
        width: 17.6rem;
        font-size: 2.6rem;
        line-height: 4.6rem;
        letter-spacing: 0em;
        text-align: left;
        color: $pink;
        margin-right: 3rem;

      }

      .content-instruction__list-subtitle {
        font-weight: 400;
        line-height: 2.9rem;
        letter-spacing: 0em;
        text-align: left;

      }
    }
  }


  .content-instruction-image {
    // width: 82.4rem;
    // height: 82.4rem;
    position: relative;

    img {
      width: 121.4rem;
      height: 82.4rem;
      position: absolute;
      top: 3rem;
      right: 0;
    }



  }
}

.content-carousel {
  width: 100%;
  position: relative;
  margin-bottom: 17rem;


  .content-carousel__wrapper {
    margin-bottom: 2.5rem;
  }

  .content-carousel__title {
    font-size: 8.6rem;
    line-height: 11.2rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10rem;
    text-transform: uppercase;
  }


  .owl-carousel {
    .owl-carousel__item {
      width: 54rem;
      height: 33rem;
      padding: 3rem;
      border-radius: 1rem;
      background: $lightGray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }


  .content-carousel__button {
    width: 15rem;
    margin-bottom: 3rem;
    position: absolute;
    top: 15rem;
    right: 0;
    display: flex;
    justify-content: space-between;

    svg {
      width: 0.6rem;
      height: 1.4rem;
    }

    .prev_button,
    .next_button {
      width: 6rem;
      height: 3rem;
      border-radius: 5.6rem;
      border: 1px solid $blue;
      background: $white;
      cursor: pointer;
      box-shadow: 0 0 0 0;

      &:hover {
        box-shadow: 0px 0.4rem 1rem 0px $blue;
      }
    }
  }

  .owl-carousel__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .owl-carousel__user-name {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 4.6rem;
    letter-spacing: 0em;
    text-align: left;
  }

  .owl-carousel__text {
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
  }

  .owl-carousel__user-evaluation {
    svg {
      width: 2.3rem;
      height: 2.3rem;
    }
  }

  .owl-carousel__date {
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
    color: $darkGrey;
  }

  .content-carousel__btn--center {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .button--center {
    width: 54rem;
  }
}


.content-contacts {
  width: 100%;
  margin-bottom: 19.2rem;

  .content-contacts__title {

    font-size: 8.6rem;
    font-weight: 700;
    line-height: 11.2rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10rem;
    text-transform: uppercase;
  }

  .content-contacts__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
  }

  .content-contacts__list {
    height: 36.4rem;
    width: 39.6rem;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: $blue;
    color: $white;

    .content-contacts__list-title {

      font-size: 2.6rem;
      line-height: 4.6rem;
      letter-spacing: 0em;
      text-align: left;
    }

    .content-contacts__list-phone-number {
      line-height: 2.9rem;
      letter-spacing: 0em;
      text-align: left;
    }

    .content-contacts__list-text {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.8rem;
      letter-spacing: 0em;
      text-align: left;
    }
  }

  .content-contacts__map {
    width: 82.5rem;
    height: 53.4rem;
  }

  .form-call {
    width: 39.8rem;
    height: 29.2rem;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid $gray;
  }
}