.content-title {
  font-size: 5.37rem;
  line-height: 7rem;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.content-services {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  margin-bottom: 6.25rem;

  #sticky {
    position: sticky;
    top: 2rem;
  }


  .content-services__filter {
    width: 33.75rem;
    max-height: 812px;
  }

  .content-services__filter-title {
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
  }

  /*-------------------accordion-----------------------*/

  .accordion {
    width: 33.75rem;
    margin-bottom: 6.25rem;

  }

  .accordion .accordion-item {
    padding: 1.25rem 0rem;
    border-bottom: 1px solid $gray;
  }

  .accordion .ui-accordion-header {
    font-family: IBM Plex Mono;
    font-size: 1.62rem;
    letter-spacing: 0em;
    text-align: left;
    padding: 0.62rem 0;
    background: #ffffff;
    cursor: pointer;
    outline: none;
  }

  .accordion .ui-accordion-content {
    ul {
      display: flex;
      gap: 1.25rem;
      flex-wrap: wrap;

    }

    li {
      min-height: 1.81rem;
      position: relative;
      cursor: pointer;
      letter-spacing: 0em;
      text-align: left;
      padding-top: 4px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -0.25rem;
        width: 0;
        height: 0.25rem;
        background-color: #4E42AE;
      }

    }

    li:hover {
      color: #4E42AE;
      padding: 0;

      &::before {
        width: 100%;
        transition: width 0.35s;
      }

    }


    .active {
      color: #4E42AE;
      padding: 0;

      &::before {
        width: 100%;
        transition: width 0.35s;
      }

    }
  }

  .accordion .ui-accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .accordion .ui-accordion-header-icon {
    display: inline-block;
    width: 4.06rem;
    height: 1.43rem;
    border: 1px solid #CDCED2;
    border-radius: 3.5rem;
    background: url(../images/svg/icon_down.svg) 50% 50% no-repeat;
  }

  .accordion .ui-accordion-header-active .ui-accordion-header-icon {
    background: url(../images/svg/icon_up.svg) 50% 50% no-repeat;
  }




  /*---------------------------------------------*/




  .content-services__price {
    width: 60.43rem;

  }


  .content-services__list {
    // height: 5.31rem;
    padding: 0.62rem 3.12rem;
    border-radius: 0.62rem;
    background: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    cursor: pointer;

    &:hover {
      background: $blue;
      color: $white;

      .content-services__description {
        color: $white;
      }
    }
  }

  .content-services__title {

    line-height: 1.81rem;
    letter-spacing: 0em;
    text-align: left;
  }

  .content-services__description {

    font-weight: 400;
    line-height: 1.81rem;
    letter-spacing: 0em;
    text-align: left;
    color: #989898;

  }

  .content-services__old-price {
    color: #989898;
    font-size: 0.87;
    font-weight: 400;
    text-decoration: line-through;
  }

  .content-services__new-price {
    font-size: 1.625rem;
    line-height: 2.93rem;
    letter-spacing: 0em;
    text-align: left;
    color: #EC0A94;

  }
}

.content-description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 12.5rem;



  .content-description__subtitle {
    width: 33.56rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .content-description___name {
      font-size: 5.37rem;
      line-height: 7rem;
      letter-spacing: 0em;
      text-align: left;
      text-transform: uppercase;
      color: $blue;
    }

    .content-description__title {
      font-size: 1.62rem;
      line-height: 2.93rem;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 1.87rem;
    }

    .content-description__text {
      font-weight: 400;
      line-height: 1.81rem;
      letter-spacing: 0em;
      text-align: left;
    }

    .button {
      width: 24.81rem;
    }
  }

  .content-description__image {
    width: 42.68rem;

    img {
      width: 100%;

    }
  }

  .content-description__list {
    width: 24.81rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    li {
      width: 100%;
      padding: 1.25rem;
      border-radius: 0.65rem;
      border: 1px solid $gray;


      .list-title {
        font-size: 1.62rem;
        line-height: 2.93rem;
        letter-spacing: 0em;
        text-align: left;
      }

      .list-subtitle {

        font-weight: 400;
        line-height: 1.81rem;
        letter-spacing: 0em;
        text-align: left;

      }
    }
  }

}


.content-slogan {
  width: 100%;
  margin-bottom: 12.5rem;

  .content-slogan__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 6.25rem;

    .content-slogan__header-title {
      font-size: 5.37rem;
      line-height: 5rem;
      letter-spacing: 0em;
      text-align: left;
      text-transform: uppercase;
    }

    .content-slogan__header-subtitle {
      font-weight: 400;
      line-height: 1.81rem;
      letter-spacing: 0em;
      text-align: left;

    }
  }

  .content-slogan__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 35.62rem;

    li {
      width: 51.56rem;
      height: 10.62rem;
      padding: 1.25rem;
      border-radius: 0.62rem;
      background: $lightGray;
      margin-bottom: 1.87rem;
      display: flex;
      align-items: center;


    }

    .content-slogan__list-title {
      font-size: 6.25rem;
      line-height: 8.12rem;
      letter-spacing: 0em;
      text-align: left;
      color: $blue;
      margin-right: 3.12rem;
    }

    .content-slogan__list-subtitle {
      line-height: 1.81rem;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}

.content-instruction {
  display: flex;
  justify-content: space-between;

  margin-bottom: 12.5rem;

  .content-instruction__wrapper {
    width: 51.56rem;
    height: 51.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .button {
      z-index: 1;
    }

    .content-instruction__title {
      font-size: 5.37rem;
      line-height: 7rem;
      letter-spacing: 0em;
      text-align: left;
      text-transform: uppercase;

    }

    .content-instruction__list {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;

      li {
        width: 24.81rem;
        height: 7.5rem;
        border: 1px solid $gray;
        border-radius: 0.62rem;
        padding: 1.25rem;
        display: flex;
        align-items: center;
        ;
      }

      .content-instruction__list-title {
        width: 11rem;
        font-size: 1.62rem;
        line-height: 2.93rem;
        letter-spacing: 0em;
        text-align: left;
        color: $pink;
        margin-right: 1.87rem;

      }

      .content-instruction__list-subtitle {
        font-weight: 400;
        line-height: 1.81rem;
        letter-spacing: 0em;
        text-align: left;

      }
    }
  }


  .content-instruction-image {
    width: 51.56rem;
    height: 51.5em;
    position: relative;

    img {

      position: absolute;
      top: 0;
      right: 0;
    }

    ;

  }
}

.content-carousel {
  width: 100%;
  position: relative;
  margin-bottom: 12.5rem;

  .content-carousel__title {
    font-size: 5.37rem;
    line-height: 7rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
  }


  .owl-carousel {
    .owl-carousel__item {
      width: 33.75rem;
      height: 20.62rem;
      padding: 1.87rem;
      border-radius: 0.62rem;
      background: $lightGray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }


  .content-carousel__button {
    width: 9.37rem;
    margin-bottom: 1.87rem;
    position: absolute;
    top: 6rem;
    right: 0;

    .prev_button,
    .next_button {
      width: 3.75rem;
      height: 1.87rem;
      border-radius: 3.5rem;
      border: 1px solid $blue;
      background: $white;
      cursor: pointer;
      box-shadow: 0 0 0 0;

      &:hover {
        box-shadow: 0px 4px 10px 0px $blue;
      }
    }
  }

  .owl-carousel__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.62rem;
  }

  .owl-carousel__user-name {
    font-size: 1.62rem;
    font-weight: 700;
    line-height: 2.93rem;
    letter-spacing: 0em;
    text-align: left;
  }

  .owl-carousel__text {
    font-weight: 400;
    line-height: 1.81rem;
    letter-spacing: 0em;
    text-align: left;
  }

  .owl-carousel__user-evaluation {}

  .owl-carousel__date {
    font-weight: 400;
    line-height: 1.81rem;
    letter-spacing: 0em;
    text-align: left;
    color: $darkGrey;
  }

  .content-carousel__btn--center {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .button--center {
    width: 33.75rem;
  }
}


.content-contacts {
  width: 100%;
  margin-bottom: 12.5rem;

  .content-contacts__title {

    font-size: 5.37rem;
    font-weight: 700;
    line-height: 7rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 6.25rem;
  }

  .content-contacts__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
  }

  .content-contacts__list {
    height: 22.75rem;
    width: 24.8rem;
    padding: 1.25rem;
    border-radius: 0.62rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    background: $blue;
    color: $white;

    .content-contacts__list-title {

      font-size: 1.62rem;
      line-height: 2.93rem;
      letter-spacing: 0em;
      text-align: left;
    }

    .content-contacts__list-phone-number {
      line-height: 1.81rem;
      letter-spacing: 0em;
      text-align: left;
    }

    .content-contacts__list-text {
      font-size: 0.87rem;
      font-weight: 400;
      line-height: 1.12rem;
      letter-spacing: 0em;
      text-align: left;
    }
  }

  .content-contacts__map {}

  .form-call {
    width: 24.87rem;
    height: 18.25rem;
    padding: 1.25rem;
    border-radius: 0.62rem;
    border: 1px solid $gray;
  }
}