header {

  margin-top: 3rem;
  margin-bottom: 3rem;
  transition: 0.3s;


  @include breakpoint($xl-bp) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}


.header-nav {
  background: #fff;
  width: 100%;
  padding: 1.5rem 2rem 1.5rem 2rem;
  border: 0.1rem solid #CDCED2;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 6;
  transition: 0.5s;

  @include breakpoint($sm-bp) {
    justify-content: space-between;
    align-items: center;
  }
}

.header-nav__logo {
  text-align: center;
  transition: 0.5s;

  img {
    width: 18.8rem;

    @include breakpoint($sm-bp) {
      width: 11.5rem;
    }
  }

  p {
    font-family: 'Inter';
    font-size: 1.7rem;
    line-height: 0.5;
    color: #808080;
    font-weight: 400;

    @include breakpoint($sm-bp) {
      font-size: 1rem;
    }
  }
}



.header-nav-menu-wrapper {
  display: flex;
  align-items: center;
  gap: 10.9rem;

  @include breakpoint($sm-bp) {
    display: none;
  }
}

.header-nav__menu {
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 3rem;

  @include breakpoint($xl-bp) {
    display: none;
  }

  a:hover {
    font-weight: 700;
    color: $blue;

  }

}

/*--------------------navbar------------------------------*/


.dropdown {
  float: left;
  overflow: hidden;
}

.dropbtn {
  height: 9.2rem;
  background: #fff;
  cursor: pointer;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  color: $blue;
  font-weight: 700;
}


.dropdown-content {
  position: absolute;
  top: 100%;
  border: 1px solid #CDCED2;
  border-radius: 0 0 1rem 1rem;
  border-top: 0rem;
  left: calc(50% - 48rem);
  background-color: #fff;
  z-index:3;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 1s ;
  -moz-transition: max-height 1s ;
  transition: max-height 1s;

  ul {
    columns: 4 auto;
    column-gap: 3rem;
    margin: 5rem;
  }

  li {
    padding: 1rem;
  }


}


.dropdown-content a {
  font-weight: 700;
  line-height: 2.9rem;
  letter-spacing: 0em;
  text-align: left;

}

.dropdown:hover .dropdown-content {
  border: 1px solid #CDCED2;
  border-radius: 0 0 1rem 1rem;
  border-top: 0rem;
  max-height: 100vh;
  z-index: 9;
}



/*----------------------------------------------------------*/
.header-nav__contacts {
  height: 3.8rem;
  gap: 1rem;
  display: flex;

  a {
    border: 0.1rem solid $blue;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {

      box-shadow: 0 0.5em 0.5em -0.4em $blue;
      transform: translateY(-0.25em);

    }

    svg {
      width: 1.9rem;
      height: 1.9rem;
    }
  }

  .header-nav__number-phone {
    color: $blue;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0em;
    text-align: left;
    padding: 1rem 2rem;

    @include breakpoint($sm-bp) {
      width: 100%;
      font-size: 1.2rem;
      line-height: 2.2rem
    }
  }

}


/*-----------------------------------------------------*/



.header--sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 11;
  margin-top: 0rem;
  margin-bottom: 0rem;
  transition: 0.3s;
}

.header--sticky+.content {
  padding-top: 20rem;

  @include breakpoint($xl-bp) {
    padding-top: 14rem;
  }

}

.header--padding {
  padding: 0 2rem;
  transition: 0.5s;

  .header-nav__logo {
    img {
      width: 13rem;
    }

    p {
      display: none;
    }
  }

  .dropbtn {
    height: 5.5rem;
  }

  @include breakpoint($xl-bp) {
    padding: 1rem;

    .header-nav__logo {
      img {
        width: 10rem;
      }

    }
  }

}