.menu-burger__header {
  display: none;
  margin-right: 1rem;

  @include breakpoint($xl-bp) {
    position: relative;
    width: 2rem;
    height: 2rem;
    display: block;
  }
}

.menu-burger__header span,
.menu-burger__header:after,
.menu-burger__header:before {
  height: 0.3rem;
  width: 100%;
  position: absolute;
  background: #000;
  margin: 0 auto;
}


.menu-burger-wrapper {
  display: none;

  padding: 0.5rem;
  @include breakpoint($xl-bp) {
    display: block;
  }
}

.menu-burger__header span {
  top: 45%;
  transition: 0.5s;
}

.menu-burger__header:after,
.menu-burger__header:before {
  content: '';
  transition: 0.4s;
}

.menu-burger__header:after {
  bottom: 0rem;

}

.menu-burger__header:before {
  top: 0rem;
}

.menu-burger__header.open-menu span {
  opacity: 0;
  transition: 0.5s;
}

.menu-burger__header.open-menu:before {
  transform: rotate(45deg);
  top: 0.6rem;
  transition: 0.4s;
}

.menu-burger__header.open-menu:after {
  transform: rotate(-45deg);
  bottom: 1.1rem;
  transition: 0.4s;
}

.header__nav {
  display: none;

  @include breakpoint($xl-bp) {
    display: block;
    position: fixed;
    top: 0rem;
    padding-top: 12rem;
    z-index: 5;
    background: #fff;
    box-shadow: #ccc;
    width: 100%;
    height: 100vh;

    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
    left: -100%;
    transition: all 0.4s ease;
  }
  @include breakpoint($sm-bp) {
     padding-top: 8rem;
   }
}


.header__menu {
  overflow: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-bottom: 17rem;
}

.header__menu::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.header__menu li {
  margin: 4rem 4rem 0 3.3rem;
  font-size: 1.4rem;
}

.header__nav.open-menu {
  left: 0;
}

.fixed-page {
  overflow: hidden;
}

.menu-mobile-wrapper {
  display: flex;
  height: 100vh;
  margin-bottom: 20rem;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 2rem;
}

.show-contacts {
  display: none;

  @include breakpoint($sm-bp) {
    display: flex;
  }
}

.menu {
  width: 80%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  @include breakpoint($sm-bp) {
    width: 100%;

  }

  li {
    margin: 0;
  }

}

.iPhone-list,
.iPad-list,
.MacBook-list {
  overflow-x: hidden;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 700;

  li {
    padding: 0.4rem 0;

    &:hover,
    &:focus,
    &:active {
      color: $blue;
    }
  }

  @include breakpoint($sm-bp) {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

.iMac-list {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 700;

  li {
    margin-bottom: 1rem;
    font-size: 1.1rem;

    &:hover,
    &:focus,
    &:active {
      color: $blue;
      transform: translateY(-0.25em);
    }
  }
}

.accordion-item-menu {
  padding: 0.8rem 0;
}

.accordion-header-menu {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 0.1rem solid #cdced2;
  padding-bottom: 0.5rem;



  &:hover,
  &:focus,
  &:active {
    color: $blue;

    font-weight: 700;
  }

  @include breakpoint($sm-bp) {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.header-menu {
  padding: 0.5rem 0;

  &:hover,
  &:focus,
  &:active {
    color: $blue;

    font-weight: 700;
  }
}


.menu .ui-accordion-header-icon {
  margin-right: 1rem;
  width: 1rem;
  height: 1rem;
  transition: transform 0.5s;
  background: url(../images/svg/icon_down-menu.svg) 50% 50% no-repeat;
}

.menu .ui-accordion-header-active .ui-accordion-header-icon {
  transition: transform 0.5s;
  transform: rotateX(180deg);
  // background: url(../images/svg/icon_up-menu.svg) 50% 50% no-repeat;
}