.reviews {
  margin-top: 5rem;

  @include breakpoint($xl-bp) {
    margin-top: 2rem;
  }
}


.content-reviews {
  margin-bottom: 20rem;

  @include breakpoint($xl-bp) {
    margin-bottom: 10rem;
  }

  .content-reviews__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;

    @include breakpoint($xl-bp) {
     flex-direction: column;
    }
  }

  .button--width {
    width: 39.7rem;
    margin: 0;
    @include breakpoint($sm-bp) {
      width: 100%;
    }
  }

  .content-reviews__title {
    font-size: 8.6rem;
    line-height: 11.2rem;
    letter-spacing: 0em;
    text-align: left;

    @include breakpoint($xl-bp) {
      font-size: 4.2rem;
      line-height: 5.5rem;
      margin-bottom: 1rem;
    }

  }


  .content-reviews__elem {
    width: 54rem;
    min-height: 33rem;
    padding: 3rem;
    border-radius: 1rem;
    background: $lightGray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover,
    &:focus {
      box-shadow: 0 0.5em 0.5em -0.4em $darkGrey;
      transform: translateY(-0.25em);
    }
  }


  .content-reviews__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 4rem;

    @include breakpoint($xl-bp) {
      justify-content: center;
      gap: 2rem;
    }
  }

  .content-reviews__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .content-reviews__user-name {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 4.6rem;
    letter-spacing: 0em;
    text-align: left;

    @include breakpoint($sm-bp) {
      font-size: 2rem;
      line-height: 3.6rem;
    }
  }

  .content-reviews___text {
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;


    @include breakpoint($xl-bp) {
      font-size: 1.4rem;
      line-height: 2.5rem;
    }
  }

  .content-reviews___evaluation {
    svg {
      width: 2.3rem;
      height: 2.3rem;

      @include breakpoint($sm-bp) {
        width: 1.3rem;
        height: 1.3rem;
      }
    }
  }

  .content-reviews__date {
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
    color: $darkGrey;
  }

  .pagination {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .pagination__list {
    display: flex;

    gap: 1.5rem;
  }

  .pagination__item {

    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #CDCED2;
    padding: 0.5rem 0;
    text-align: center;
    line-height: 2.9rem;
    letter-spacing: 0em;

    &:hover {
      background: $pink;

      a {
        color: $white;
      }
    }


    a {
      color: $black;

    }

  }




}