@charset "UTF-8";

html {
    box-sizing: border-box;
    font-size: 0.5208333333vw;
}

@media (max-width: 1024px) {
    html {
        font-size: 1.3020833333vw;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 2.6666666667vw;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
}

.container {
    margin: 0 auto;
    max-width: 168rem;
}

.form-call {
    max-width: 39.7rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.form-call p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0em;
    text-align: left;
    color: #989898;
}

.phone-number,
.button {
    width: 100%;
    height: 6.9rem;
    padding: 2rem 3rem;
    border-radius: 5rem;
    gap: 1rem;
}

.phone-number {
    border: 1px solid #CDCED2;
    color: #000000;
    line-height: 3rem;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 3rem;
}

.button {
    background: linear-gradient(90deg, #E70B95 2.51%, #2644AE 100%);
    color: #FFFFFF;
    line-height: 2.8rem;
    letter-spacing: 0em;
    cursor: pointer;
    margin-bottom: 3rem;
}

.button:hover {
    box-shadow: 0px 4px 26px 0px rgba(227, 13, 150, 0.5019607843);
}

.button:active {
    background: #CDCED2;
    box-shadow: 0px 0px 0px 0px;
}

.hidden {
    display: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: IBM Plex Mono;
}

ul,
ol {
    list-style: none;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    border: none;
}

a {
    text-decoration: none;
    color: #000000;
}

.header__main--margin-bootom {
    margin-bottom: 7.4rem;
}

.header-nav {
    width: 100%;
    padding: 1.5rem 2rem 0 2rem;
    border: 0.1rem solid #CDCED2;
    border-radius: 1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.header-nav__logo {
    text-align: center;
}

.header-nav__logo img {
    width: 18.8rem;
}

.header-nav__logo p {
    font-family: "Inter";
    font-size: 1.7rem;
    line-height: 0.5;
    color: #808080;
    font-weight: 400;
}

.header-nav__menu {
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: left;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    gap: 3rem;
    height: 9.2rem;
}

.header-nav__menu a:hover {
    color: #4E42AE;
}

/*--------------------navbar------------------------------*/
.dropdown {
    float: left;
    overflow: hidden;
}

.dropbtn {
    height: 9.2rem;
    background: #fff;
    cursor: pointer;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    color: #4E42AE;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: calc(50% - 48rem);
    width: 80rem;
    background-color: #fff;
    border: 1px solid #CDCED2;
    border-radius: 0 0 1rem 1rem;
    border-top: 0;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*----------------------------------------------------------*/
.header-nav__contacts {
    height: 3.8rem;
    gap: 1rem;
    display: -ms-flexbox;
    display: flex;
}

.header-nav__contacts a {
    border: 0.1rem solid #4E42AE;
    border-radius: 1rem;
    padding: 1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header-nav__contacts a:hover, .header-nav__contacts a:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #4E42AE;
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
}

.header-nav__contacts a svg {
    width: 1.9rem;
}

.header-nav__contacts .header-nav__number-phone {
    color: #4E42AE;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0em;
    text-align: left;
    padding: 1rem 2rem;
}

.main {
    margin-top: 7.4rem;
}

.header-title {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.header-title .header-title__title {
    width: 104rem;
    font-size: 8.6rem;
    line-height: 11.1rem;
    text-align: left;
    text-transform: uppercase;
}

.header-info {
    width: 100%;
    border-radius: 1rem;
    background: #4E42AE;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 20rem;
}

.header-info .header-info__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.header-info .header-info__wrapper .header-info__line {
    margin-left: 3rem;
}

.header-info .header-info__wrapper .header-info__line svg {
    width: 1rem;
    height: 8.5rem;
}

.header-info .header-info__info {
    width: 36.8rem;
    line-height: 2.9rem;
    letter-spacing: 0em;
    color: white;
    height: 31.2rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 3.2rem;
    position: relative;
    margin-left: 8rem;
}

.header-info .header-info__image-phone {
    width: 102.6rem;
}

.header-info .header-info__image-phone img {
    width: 100%;
}

.content-title {
    font-size: 8.6rem;
    line-height: 11.2rem;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

.content-services {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 4.8rem;
    margin-bottom: 20rem;
  /*-------------------accordion-----------------------*/
  /*---------------------------------------------*/
}

.content-services #sticky {
    position: sticky;
    top: 3.2rem;
}

.content-services .content-services__filter {
    width: 54rem;
}

.content-services .content-services__filter-title {
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 3rem;
}

.content-services .accordion {
    width: 54rem;
    margin-bottom: 10rem;
}

.content-services .accordion .accordion-item {
    padding: 2rem 0rem 1rem 0;
    border-bottom: 1px solid #CDCED2;
    margin-bottom: 1.2rem;
}

.content-services .accordion .ui-accordion-header {
    font-family: IBM Plex Mono;
    font-size: 2.6rem;
    letter-spacing: 0em;
    text-align: left;
    padding: 1.5rem 0;
    background: #ffffff;
    cursor: pointer;
    outline: none;
}

.content-services .accordion .ui-accordion-content ul {
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.content-services .accordion .ui-accordion-content li {
    min-height: 2.9rem;
    position: relative;
    cursor: pointer;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 0.4rem;
}

.content-services .accordion .ui-accordion-content li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.4rem;
    width: 0;
    height: 0.3em;
    background-color: #4E42AE;
}

.content-services .accordion .ui-accordion-content li:hover {
    color: #4E42AE;
    padding: 0;
}

.content-services .accordion .ui-accordion-content li:hover::before {
    width: 100%;
    transition: width 0.35s;
}

.content-services .accordion .ui-accordion-content .active {
    color: #4E42AE;
    padding: 0;
}

.content-services .accordion .ui-accordion-content .active::before {
    width: 100%;
    transition: width 0.35s;
}

.content-services .accordion .ui-accordion-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.content-services .accordion .ui-accordion-header-icon {
    display: inline-block;
    width: 6.5rem;
    height: 2.3rem;
    border: 0.1rem solid #CDCED2;
    border-radius: 3.5rem;
    background: url(../images/svg/icon_down.svg) 50% 50% no-repeat;
}

.content-services .accordion .ui-accordion-header-active .ui-accordion-header-icon {
    background: url(../images/svg/icon_up.svg) 50% 50% no-repeat;
}

.content-services .content-services__price {
    width: 96.7rem;
}

.content-services .content-services__list {
    padding: 1rem 5rem;
    border-radius: 1rem;
    background: #F4F4F4;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 1.6rem;
    cursor: pointer;
}

.content-services .content-services__list:hover {
    background: #4E42AE;
    color: white;
}

.content-services .content-services__list:hover .content-services__description {
    color: white;
}

.content-services .content-services__title {
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-services .content-services__description {
    width: 67.3rem;
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
    color: #989898;
}

.content-services .content-services__old-price {
    color: #989898;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: line-through;
}

.content-services .content-services__new-price {
    font-size: 2.6rem;
    line-height: 4.6rem;
    letter-spacing: 0em;
    text-align: left;
    color: #EC0A94;
}

.content-description {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 17rem;
}

.content-description .content-description__subtitle {
    width: 53.7rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content-description .content-description__subtitle .content-description___name {
    font-size: 8.6rem;
    line-height: 11.2rem;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: #4E42AE;
}

.content-description .content-description__subtitle .content-description__title {
    font-size: 2.6rem;
    line-height: 4.6rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 3rem;
}

.content-description .content-description__subtitle .content-description__text {
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-description .content-description__subtitle .button {
    width: 39.7rem;
    margin-bottom: 0;
}

.content-description .content-description__image {
    width: 68.2rem;
    height: 74rem;
}

.content-description .content-description__image img {
    width: 100%;
    transition: 1s;
}

.content-description .content-description__image img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.content-description .content-description__list {
    width: 39.7rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content-description .content-description__list li {
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid #CDCED2;
}

.content-description .content-description__list li .list-title {
    font-size: 2.5rem;
    line-height: 4.6rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 1rem;
}

.content-description .content-description__list li .list-subtitle {
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-slogan {
    width: 100%;
    margin-bottom: 17rem;
}

.content-slogan .content-slogan__header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 11rem;
}

.content-slogan .content-slogan__header .content-slogan__header-title {
    font-size: 8.6rem;
    line-height: 8rem;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}

.content-slogan .content-slogan__header .content-slogan__header-subtitle {
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-slogan .content-slogan__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 57rem;
}

.content-slogan .content-slogan__list li {
    width: 82.5rem;
    height: 16.9rem;
    padding: 2rem;
    border-radius: 1rem;
    background: #F4F4F4;
    margin-bottom: 3rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.content-slogan .content-slogan__list li:hover, .content-slogan .content-slogan__list li:focus {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
}

@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #F4F4F4;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #F4F4F4;
    }
}

.content-slogan .content-slogan__list .content-slogan__list-title {
    font-size: 10rem;
    line-height: 13rem;
    letter-spacing: 0em;
    text-align: left;
    color: #4E42AE;
    margin-right: 5rem;
}

.content-slogan .content-slogan__list .content-slogan__list-subtitle {
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-instruction {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20rem;
}

.content-instruction .content-instruction__wrapper {
    width: 82.8rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content-instruction .content-instruction__wrapper .button {
    z-index: 1;
    margin-bottom: 0;
}

.content-instruction .content-instruction__wrapper .content-instruction__title {
    font-size: 8.6rem;
    line-height: 11.2rem;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 8rem;
}

.content-instruction .content-instruction__wrapper .content-instruction__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 8rem;
}

.content-instruction .content-instruction__wrapper .content-instruction__list li {
    width: 39.7rem;
    height: 12rem;
    border: 1px solid #CDCED2;
    border-radius: 1rem;
    padding: 2rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.content-instruction .content-instruction__wrapper .content-instruction__list .content-instruction__list-title {
    width: 17.6rem;
    font-size: 2.6rem;
    line-height: 4.6rem;
    letter-spacing: 0em;
    text-align: left;
    color: #EC0A94;
    margin-right: 3rem;
}

.content-instruction .content-instruction__wrapper .content-instruction__list .content-instruction__list-subtitle {
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-instruction .content-instruction-image {
    position: relative;
}

.content-instruction .content-instruction-image img {
    width: 121.4rem;
    height: 82.4rem;
    position: absolute;
    top: 3rem;
    right: 0;
}

.content-carousel {
    width: 100%;
    position: relative;
    margin-bottom: 17rem;
}

.content-carousel .content-carousel__wrapper {
    margin-bottom: 2.5rem;
}

.content-carousel .content-carousel__title {
    font-size: 8.6rem;
    line-height: 11.2rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10rem;
    text-transform: uppercase;
}

.content-carousel .owl-carousel .owl-carousel__item {
    width: 54rem;
    height: 33rem;
    padding: 3rem;
    border-radius: 1rem;
    background: #F4F4F4;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content-carousel .content-carousel__button {
    width: 15rem;
    margin-bottom: 3rem;
    position: absolute;
    top: 15rem;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content-carousel .content-carousel__button svg {
    width: 0.6rem;
    height: 1.4rem;
    fill: transparent;
}

.content-carousel .content-carousel__button .prev_button,
.content-carousel .content-carousel__button .next_button {
    width: 6rem;
    height: 3rem;
    border-radius: 5.6rem;
    border: 1px solid #4E42AE;
    background: white;
    cursor: pointer;
    box-shadow: 0 0 0 0;
}

.content-carousel .content-carousel__button .prev_button:hover,
.content-carousel .content-carousel__button .next_button:hover {
    box-shadow: 0px 0.4rem 1rem 0px #4E42AE;
}

.content-carousel .owl-carousel__item-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.content-carousel .owl-carousel__user-name {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 4.6rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-carousel .owl-carousel__text {
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-carousel .owl-carousel__user-evaluation svg {
    width: 2.3rem;
    height: 2.3rem;
}

.content-carousel .owl-carousel__date {
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
    color: #989898;
}

.content-carousel .content-carousel__btn--center {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.content-carousel .button--center {
    width: 54rem;
}

.content-contacts {
    width: 100%;
    margin-bottom: 19.2rem;
}

.content-contacts .content-contacts__title {
    font-size: 8.6rem;
    font-weight: 700;
    line-height: 11.2rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10rem;
    text-transform: uppercase;
}

.content-contacts .content-contacts__wrapper {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.content-contacts .content-contacts__list {
    height: 36.4rem;
    width: 39.6rem;
    padding: 2rem;
    border-radius: 1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2rem;
    background: #4E42AE;
    color: white;
}

.content-contacts .content-contacts__list .content-contacts__list-title {
    font-size: 2.6rem;
    line-height: 4.6rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-contacts .content-contacts__list .content-contacts__list-phone-number {
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-contacts .content-contacts__list .content-contacts__list-text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-contacts .content-contacts__map {
    position: relative;
    width: 82.5rem;
    height: 53.4rem;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  /* Черно-белый фильтр для изображения */
    transition: 1s;
  /* Время изменения цвета изображения */
}

.content-contacts .content-contacts__map:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  /* Цветное изображение при наведении */
}

.content-contacts .content-contacts__map-adress {
    position: absolute;
    background: white;
    width: 39.7rem;
    height: 14.9rem;
    top: 38rem;
    left: 0.5rem;
    padding: 2rem;
    border-radius: 1rem;
    border: 0.1rem solid #CDCED2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content-contacts .content-contacts__map-adress .content-contacts__map-title {
    line-height: 4.7rem;
    font-size: 2.6rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-contacts .content-contacts__map-adress .content-contacts__map-subtitle {
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-contacts .content-contacts__map-adress .content-contacts__map-text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-contacts .form-call {
    width: 39.8rem;
    height: 29.2rem;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid #CDCED2;
}

.categories {
    margin-top: 5rem;
}

.breadcrumbs {
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 4rem;
}

.breadcrumbs span {
    color: #4E42AE;
}

.content-services .content-services__filter {
    width: 54rem;
    max-height: 81.2rem;
}

.content-services .content-services__filter-title {
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 3rem;
}

.content-services .content-services-list {
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 10rem;
}

.content-services .content-services-list li {
    font-size: 2.6rem;
    line-height: 4.7rem;
    letter-spacing: 0em;
    text-align: left;
    min-height: 2.9rem;
    position: relative;
    cursor: pointer;
    padding-top: 0.4rem;
    margin-right: 1.9rem;
}

.content-services .content-services-list li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.4rem;
    width: 0;
    height: 0.2em;
    background-color: #4E42AE;
}

.content-services .content-services-list li:hover {
    color: #4E42AE;
    padding: 0;
}

.content-services .content-services-list li:hover::before {
    width: 100%;
    transition: width 0.35s;
}

.content-services .content-services-list .active {
    color: #4E42AE;
    padding: 0;
}

.content-services .content-services-list .active::before {
    width: 100%;
    transition: width 0.35s;
}

.subcategories {
    margin-top: 5rem;
}

.repair {
    width: 100%;
    margin-bottom: 20rem;
}

.repair .repair__top {
    margin-bottom: 7rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.repair .repair__top-left {
    width: 82.5rem;
}

.repair .repair__title {
    font-size: 8.6rem;
    line-height: 11.1rem;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 4rem;
    text-transform: uppercase;
}

.repair .repair__subtitle {
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
}

.repair .repair__top-list {
    width: 82.6rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 3rem;
}

.repair .repair__top-list .repair__top-item {
    width: 39.8rem;
    height: 12rem;
    padding: 2rem;
    border-radius: 1rem;
    border: 0.1rem solid #CDCED2;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.repair .repair__top-list .repair__top-item--border {
    width: 39.8rem;
    height: 12rem;
    padding: 0;
    border: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
}

.repair .repair__top-list .repair__top-item--border .button {
    margin: 0;
}

.repair .repair__bottom {
    height: 20.4rem;
}

.repair .repair__bottom .repair__bottom--position {
    width: 192rem;
    height: 20.4rem;
    position: absolute;
    left: 0;
    padding: 5rem 43.6rem;
    background: #F4F4F4;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.repair .repair__bottom .repair__bottom-item {
    min-width: 41.2rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.repair .repair__bottom svg {
    width: 6rem;
}

.repair .repair__bottom .item__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 2.6rem;
    line-height: 4.7rem;
    letter-spacing: 0em;
    text-align: left;
}

.repair .repair__bottom .item__price {
    color: #EC0A94;
}

.service-center {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20rem;
}

.service-center .service-center__wrapper {
    width: 96.8rem;
}

.service-center .service-center__title {
    font-size: 4.3rem;
    line-height: 5.6rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.service-center .service-center__subtitle {
    font-size: 2.6rem;
    line-height: 4.7rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 3rem;
}

.service-center .service-center__text-top {
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 3rem;
}

.service-center .service-center__text-bottom {
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
}

.service-center .service-center__image {
    width: 60.5rem;
    height: 41.2rem;
}

.buyout {
    margin-top: 5rem;
    width: 100%;
}

.buyout-title {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 15rem;
}

.buyout-title .buyout-title__title {
    font-size: 8.6rem;
    line-height: 11.1rem;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.buyout-title .buyout-title__wrapper {
    width: 125.3rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.buyout-title .buyout-title__wrapper p {
    width: 82.5rem;
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
}

.buyout-list {
    width: 100%;
    margin-bottom: 20rem;
}

.buyout-list .buyout-list__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.buyout-list .buyout-list__wrapper li {
    width: 54rem;
    height: 17rem;
    padding: 2rem;
    border-radius: 1rem;
    background: #F4F4F4;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.buyout-list .buyout-list__wrapper li:hover, .buyout-list .buyout-list__wrapper li:focus {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #F4F4F4;
    }
}

.buyout-list .buyout-list__wrapper .buyout-list-title {
    font-size: 10rem;
    line-height: 13rem;
    letter-spacing: 0em;
    text-align: left;
    color: #4E42AE;
    margin-right: 5rem;
}

.buyout-list .buyout-list__wrapper .buyout-list-subtitle {
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
}

.product-cards {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    gap: 3rem;
    margin-bottom: 20rem;
}

.product-cards .product-cards__left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3rem;
}

.product-cards .product-cards__right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3rem;
}

.product-cards .product-card {
    width: 82.5rem;
    padding: 2rem;
    border-radius: 1rem;
    border: 0.1rem solid #CDCED2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.product-cards .product-card__title {
    font-size: 4.3rem;
    line-height: 5.6rem;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.product-cards .product-card__subtitle {
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 1rem;
}

.product-cards .product-card__buttons {
    margin-bottom: 4rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1rem;
}

.product-cards .product-card__buttons button {
    height: 3.9rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    border: 0.1rem solid #000000;
    background: white;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
}

.product-cards .product-card__buttons button:hover, .product-cards .product-card__buttons button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #4E42AE;
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
}

.product-cards img {
    width: 30.1rem;
    height: 31.8rem;
}

.product-cards .button--width {
    width: 39.7rem;
}

.reviews {
    margin-top: 5rem;
}

.content-reviews {
    margin-bottom: 20rem;
}

.content-reviews .content-reviews__header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.content-reviews .button--width {
    width: 39.7rem;
}

.content-reviews .content-reviews__title {
    font-size: 8.6rem;
    line-height: 11.2rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-reviews .content-reviews__elem {
    width: 54rem;
    height: 33rem;
    padding: 3rem;
    border-radius: 1rem;
    background: #F4F4F4;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content-reviews .content-reviews__elem:hover, .content-reviews .content-reviews__elem:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #989898;
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
}

.content-reviews .content-reviews__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 4rem;
}

.content-reviews .content-reviews__item-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.content-reviews .content-reviews__user-name {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 4.6rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-reviews .content-reviews___text {
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-reviews .content-reviews___evaluation svg {
    width: 2.3rem;
    height: 2.3rem;
}

.content-reviews .content-reviews__date {
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
    color: #989898;
}

.content-reviews .pagination {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.content-reviews .pagination__list {
    display: -ms-flexbox;
    display: flex;
    gap: 1.5rem;
}

.content-reviews .pagination__item {
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #CDCED2;
    padding: 0.5rem 0;
    text-align: center;
    line-height: 2.9rem;
    letter-spacing: 0em;
}

.content-reviews .pagination__item:hover {
    background: #EC0A94;
}

.content-reviews .pagination__item:hover a {
    color: white;
}

.content-reviews .pagination__item a {
    color: #000000;
}

.contacts {
    margin-top: 5rem;
}

.footer {
    width: 100%;
    height: 23.8rem;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid #CDCED2;
    margin-bottom: 2rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer a {
    color: #000;
}

.footer .footer__menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2rem;
}

.footer .footer__menu .header-nav__logo img {
    width: 13.6rem;
}

.footer .footer__menu .header-nav__logo p {
    font-size: 1.3rem;
}

.footer .footer__menu .footer__list {
    display: -ms-flexbox;
    display: flex;
    width: 84.5rem;
    gap: 3rem;
    font-weight: 400;
    line-height: 4.4rem;
    letter-spacing: 0em;
    text-align: left;
}

.footer .footer__menu .footer__list a:hover {
    color: #4E42AE;
}

.footer .footer__contacts {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1rem;
}

.footer .footer__contacts .footer__contacts-rating {
    width: 24.5rem;
}

.footer .footer__contacts-wrapper {
    width: 65rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer .footer__contacts-wrapper a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer .footer__contacts-wrapper p {
    line-height: 2.9rem;
    letter-spacing: 0em;
    text-align: left;
}

.footer .footer__contacts-icon {
    width: 6rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer .footer__contacts-icon svg {
    width: 2rem;
    height: 2rem;
    transition: 0.5s;
}

.footer .footer__contacts-icon svg:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.footer .footer__contacts-phone-number {
    display: -ms-flexbox;
    display: flex;
    transition: 0.5s;
}

.footer .footer__contacts-phone-number svg {
    height: 1.8rem;
    width: 1.8rem;
    margin-right: 1rem;
}

.footer .footer__contacts-phone-number:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.footer .footer__down {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0em;
    text-align: left;
    color: #989898;
}