.container {
    margin: 0 auto;
    max-width: 105rem;
}

.form-call {
    max-width: 24.81rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.form-call p {
    font-size: 0.87rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #989898;
}

.phone-number,
.button {
    width: 100%;
    height: 4.31rem;
    padding: 1.25rem 1.87rem;
    border-radius: 3.12rem;
    gap: 0.62rem;
}

.phone-number {
    border: 1px solid #CDCED2;
    color: #000000;
    line-height: 1, 81rem;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 2rem;
}

.button {
    background: linear-gradient(90deg, #E70B95 2.51%, #2644AE 100%);
    color: #FFFFFF;
    line-height: 29px;
    letter-spacing: 0em;
    cursor: pointer;
    margin-bottom: 1rem;
}

.button:hover {
    box-shadow: 0px 4px 26px 0px rgba(227, 13, 150, 0.5019607843);
}

.button:active {
    background: #CDCED2;
    box-shadow: 0px 0px 0px 0px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 700;
    font-family: IBM Plex Mono;
}

ul,
ol {
    list-style: none;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    border: none;
}

a {
    text-decoration: none;
}

.header-nav {
    width: 100%;
    padding: 0.62rem 1.25rem;
    border: 1px solid #CDCED2;
    border-radius: 0.62rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.header-nav__logo {
    text-align: center;
}

.header-nav__logo img {
    width: 11.75rem;
}

.header-nav__logo p {
    font-family: "Inter";
    font-size: 1.06rem;
    color: #808080;
    font-weight: 400;
}

.header-nav__menu {
    font-weight: 400;
    line-height: 1.81rem;
    letter-spacing: 0em;
    text-align: left;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.87rem;
}

.header-nav__menu a {
    color: #000000;
}

.header-nav__menu a:hover {
    font-weight: 700;
}

.header-nav__contacts {
    height: 2.37rem;
    gap: 0.62rem;
    display: -ms-flexbox;
    display: flex;
}

.header-nav__contacts a {
    border: 1px solid #4E42AE;
    border-radius: 0.62rem;
    padding: 0.62rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header-nav__contacts a:hover {
    box-shadow: 2px 4px 5px 0px;
}

.header-nav__contacts .header-nav__number-phone {
    color: #4E42AE;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0.62rem 1.25rem;
}

.header-title {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.header-title .header-title__title {
    width: 65rem;
    font-size: 5.37em;
    line-height: 112px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}

.header-info {
    width: 100%;
    border-radius: 0.62rem;
    background: #4E42AE;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 7rem;
}

.header-info .header-info__info {
    width: 23rem;
    line-height: 29px;
    letter-spacing: 0em;
    color: white;
    height: 19.5rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 2rem;
    position: relative;
}

.header-info .header-info__image-phone {
    width: 64.18rem;
}

.header-info .header-info__image-phone img {
    width: 100%;
}

.content-title {
    font-size: 5.37rem;
    line-height: 7rem;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

.content-services {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 3rem;
    margin-bottom: 6.25rem;
  /*-------------------accordion-----------------------*/
  /*---------------------------------------------*/
}

.content-services #sticky {
    position: sticky;
    top: 2rem;
}

.content-services .content-services__filter {
    width: 33.75rem;
    max-height: 812px;
}

.content-services .content-services__filter-title {
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.content-services .accordion {
    width: 33.75rem;
    margin-bottom: 6.25rem;
}

.content-services .accordion .accordion-item {
    padding: 1.25rem 0rem;
    border-bottom: 1px solid #CDCED2;
}

.content-services .accordion .ui-accordion-header {
    font-family: IBM Plex Mono;
    font-size: 1.62rem;
    letter-spacing: 0em;
    text-align: left;
    padding: 0.62rem 0;
    background: #ffffff;
    cursor: pointer;
    outline: none;
}

.content-services .accordion .ui-accordion-content ul {
    display: -ms-flexbox;
    display: flex;
    gap: 1.25rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.content-services .accordion .ui-accordion-content li {
    min-height: 1.81rem;
    position: relative;
    cursor: pointer;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 4px;
}

.content-services .accordion .ui-accordion-content li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.25rem;
    width: 0;
    height: 0.25rem;
    background-color: #4E42AE;
}

.content-services .accordion .ui-accordion-content li:hover {
    color: #4E42AE;
    padding: 0;
}

.content-services .accordion .ui-accordion-content li:hover::before {
    width: 100%;
    transition: width 0.35s;
}

.content-services .accordion .ui-accordion-content .active {
    color: #4E42AE;
    padding: 0;
}

.content-services .accordion .ui-accordion-content .active::before {
    width: 100%;
    transition: width 0.35s;
}

.content-services .accordion .ui-accordion-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.content-services .accordion .ui-accordion-header-icon {
    display: inline-block;
    width: 4.06rem;
    height: 1.43rem;
    border: 1px solid #CDCED2;
    border-radius: 3.5rem;
    background: url(../images/svg/icon_down.svg) 50% 50% no-repeat;
}

.content-services .accordion .ui-accordion-header-active .ui-accordion-header-icon {
    background: url(../images/svg/icon_up.svg) 50% 50% no-repeat;
}

.content-services .content-services__price {
    width: 60.43rem;
}

.content-services .content-services__list {
    padding: 0.62rem 3.12rem;
    border-radius: 0.62rem;
    background: #F4F4F4;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 1rem;
    cursor: pointer;
}

.content-services .content-services__list:hover {
    background: #4E42AE;
    color: white;
}

.content-services .content-services__list:hover .content-services__description {
    color: white;
}

.content-services .content-services__title {
    line-height: 1.81rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-services .content-services__description {
    font-weight: 400;
    line-height: 1.81rem;
    letter-spacing: 0em;
    text-align: left;
    color: #989898;
}

.content-services .content-services__old-price {
    color: #989898;
    font-size: 0.87;
    font-weight: 400;
    text-decoration: line-through;
}

.content-services .content-services__new-price {
    font-size: 1.625rem;
    line-height: 2.93rem;
    letter-spacing: 0em;
    text-align: left;
    color: #EC0A94;
}

.content-description {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 12.5rem;
}

.content-description .content-description__subtitle {
    width: 33.56rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content-description .content-description__subtitle .content-description___name {
    font-size: 5.37rem;
    line-height: 7rem;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: #4E42AE;
}

.content-description .content-description__subtitle .content-description__title {
    font-size: 1.62rem;
    line-height: 2.93rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 1.87rem;
}

.content-description .content-description__subtitle .content-description__text {
    font-weight: 400;
    line-height: 1.81rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-description .content-description__subtitle .button {
    width: 24.81rem;
}

.content-description .content-description__image {
    width: 42.68rem;
}

.content-description .content-description__image img {
    width: 100%;
}

.content-description .content-description__list {
    width: 24.81rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content-description .content-description__list li {
    width: 100%;
    padding: 1.25rem;
    border-radius: 0.65rem;
    border: 1px solid #CDCED2;
}

.content-description .content-description__list li .list-title {
    font-size: 1.62rem;
    line-height: 2.93rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-description .content-description__list li .list-subtitle {
    font-weight: 400;
    line-height: 1.81rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-slogan {
    width: 100%;
    margin-bottom: 12.5rem;
}

.content-slogan .content-slogan__header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 6.25rem;
}

.content-slogan .content-slogan__header .content-slogan__header-title {
    font-size: 5.37rem;
    line-height: 5rem;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}

.content-slogan .content-slogan__header .content-slogan__header-subtitle {
    font-weight: 400;
    line-height: 1.81rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-slogan .content-slogan__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 35.62rem;
}

.content-slogan .content-slogan__list li {
    width: 51.56rem;
    height: 10.62rem;
    padding: 1.25rem;
    border-radius: 0.62rem;
    background: #F4F4F4;
    margin-bottom: 1.87rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.content-slogan .content-slogan__list .content-slogan__list-title {
    font-size: 6.25rem;
    line-height: 8.12rem;
    letter-spacing: 0em;
    text-align: left;
    color: #4E42AE;
    margin-right: 3.12rem;
}

.content-slogan .content-slogan__list .content-slogan__list-subtitle {
    line-height: 1.81rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-instruction {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 12.5rem;
}

.content-instruction .content-instruction__wrapper {
    width: 51.56rem;
    height: 51.5rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content-instruction .content-instruction__wrapper .button {
    z-index: 1;
}

.content-instruction .content-instruction__wrapper .content-instruction__title {
    font-size: 5.37rem;
    line-height: 7rem;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}

.content-instruction .content-instruction__wrapper .content-instruction__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.25rem;
}

.content-instruction .content-instruction__wrapper .content-instruction__list li {
    width: 24.81rem;
    height: 7.5rem;
    border: 1px solid #CDCED2;
    border-radius: 0.62rem;
    padding: 1.25rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.content-instruction .content-instruction__wrapper .content-instruction__list .content-instruction__list-title {
    width: 11rem;
    font-size: 1.62rem;
    line-height: 2.93rem;
    letter-spacing: 0em;
    text-align: left;
    color: #EC0A94;
    margin-right: 1.87rem;
}

.content-instruction .content-instruction__wrapper .content-instruction__list .content-instruction__list-subtitle {
    font-weight: 400;
    line-height: 1.81rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-instruction .content-instruction-image {
    width: 51.56rem;
    height: 51.5em;
    position: relative;
}

.content-instruction .content-instruction-image img {
    position: absolute;
    top: 0;
    right: 0;
}

.content-carousel {
    width: 100%;
    position: relative;
    margin-bottom: 12.5rem;
}

.content-carousel .content-carousel__title {
    font-size: 5.37rem;
    line-height: 7rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
}

.content-carousel .owl-carousel .owl-carousel__item {
    width: 33.75rem;
    height: 20.62rem;
    padding: 1.87rem;
    border-radius: 0.62rem;
    background: #F4F4F4;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content-carousel .content-carousel__button {
    width: 9.37rem;
    margin-bottom: 1.87rem;
    position: absolute;
    top: 6rem;
    right: 0;
}

.content-carousel .content-carousel__button .prev_button,
.content-carousel .content-carousel__button .next_button {
    width: 3.75rem;
    height: 1.87rem;
    border-radius: 3.5rem;
    border: 1px solid #4E42AE;
    background: white;
    cursor: pointer;
    box-shadow: 0 0 0 0;
}

.content-carousel .content-carousel__button .prev_button:hover,
.content-carousel .content-carousel__button .next_button:hover {
    box-shadow: 0px 4px 10px 0px #4E42AE;
}

.content-carousel .owl-carousel__item-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 0.62rem;
}

.content-carousel .owl-carousel__user-name {
    font-size: 1.62rem;
    font-weight: 700;
    line-height: 2.93rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-carousel .owl-carousel__text {
    font-weight: 400;
    line-height: 1.81rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-carousel .owl-carousel__date {
    font-weight: 400;
    line-height: 1.81rem;
    letter-spacing: 0em;
    text-align: left;
    color: #989898;
}

.content-carousel .content-carousel__btn--center {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.content-carousel .button--center {
    width: 33.75rem;
}

.content-contacts {
    width: 100%;
    margin-bottom: 12.5rem;
}

.content-contacts .content-contacts__title {
    font-size: 5.37rem;
    font-weight: 700;
    line-height: 7rem;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 6.25rem;
}

.content-contacts .content-contacts__wrapper {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.content-contacts .content-contacts__list {
    height: 22.75rem;
    width: 24.8rem;
    padding: 1.25rem;
    border-radius: 0.62rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.25rem;
    background: #4E42AE;
    color: white;
}

.content-contacts .content-contacts__list .content-contacts__list-title {
    font-size: 1.62rem;
    line-height: 2.93rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-contacts .content-contacts__list .content-contacts__list-phone-number {
    line-height: 1.81rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-contacts .content-contacts__list .content-contacts__list-text {
    font-size: 0.87rem;
    font-weight: 400;
    line-height: 1.12rem;
    letter-spacing: 0em;
    text-align: left;
}

.content-contacts .form-call {
    width: 24.87rem;
    height: 18.25rem;
    padding: 1.25rem;
    border-radius: 0.62rem;
    border: 1px solid #CDCED2;
}

.footer {
    width: 100%;
    height: 14.87rem;
    padding: 1.25rem;
    border-radius: 0.62rem;
    border: 1px solid #CDCED2;
    margin-bottom: 1.25rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer a {
    color: #000;
}

.footer .footer__menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.footer .footer__menu .footer__list {
    display: -ms-flexbox;
    display: flex;
    width: 52.81rem;
    gap: 1.87rem;
    font-weight: 400;
    line-height: 1.81rem;
    letter-spacing: 0em;
    text-align: left;
}

.footer .footer__menu .footer__list a:hover {
    font-weight: 700;
}

.footer .footer__contacts {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.footer .footer__vontacts-wrapper {
    width: 40.62rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer .footer__vontacts-wrapper a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer .footer__vontacts-wrapper p {
    line-height: 1.81rem;
    letter-spacing: 0em;
    text-align: left;
}

.footer .footer__contacts-phone-number {
    display: -ms-flexbox;
    display: flex;
}

.footer .footer__contacts-phone-number img {
    margin-right: 0.62rem;
}

.footer .footer__down {
    font-size: 0.87rem;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: 0em;
    text-align: left;
    color: #989898;
}