<footer">
  <div class="container">
    <div class="footer">
      
        <div class="footer__menu">
          <div class="header-nav__logo">
            <a href="#">
              <img src="../assets/images/svg/Logo.svg" alt="logo">
              <p>Ремонт техники Apple</p>
            </a>
          </div>
          <ul class="footer__list">
            <li><a href="#">Ремонт iPhone</a></li>
            <li><a href="#">Ремонт iPad</a></li>
            <li><a href="#">Ремонт MacBook</a></li>
            <li><a href="#">Ремонт iMac</a></li>
            <li><a href="#">Скупка</a></li>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>

        </div>
        <div class="footer__contacts">
          <a href="#"><img src="../assets/images/rating.jpg" alt="rating"></a>
          <div class="footer__vontacts-wrapper">
            <a href="#"><img src="../assets/images/svg/WhatsApp.svg" alt="WhatsApp"></a>
            <a href="#"><img src="../assets/images/svg/Telegram.svg" alt="Telegram"></a>
            <div class="footer__contacts-phone-number">
              <a href="tel:+74952201106"><img src="../assets/images/svg/phone.svg" alt="phone">
              <p>+7 (495) 220-11-06</p></a>
            </div>
            <p class="footer__contacts-adress">Одинцово, ул. Маршала Неделина, 2А</p>
          </div>
        </div>
      
      <div class="footer__down">
        <p>Разработка сайта: <a href="https://bydesign.by/" target="_blank">“Студия ЯР”</a></p>
        <p>Информация на сайте не является публичной офертой, определяемой положениями Статьи 437 ГК РФ. Сервисный центр OdiFix является постгарантийным (неавторизованным) сервисным центром. © 2023 uWeb</p>
      </div>
    </div>
  </div>
  </footer>