<div class="container">
  <footer class="footer">
    <div class="footer-nav">
      <div class="footer-images">
        <div class="footer-logo">
          <a href="main.html">
            <img src="./assets/images/svg/Logo.svg" alt="logo">
            <p>Ремонт техники Apple</p>
          </a>
        </div>
        <div class="footer-yandex">
          <a href="#"><img src="./assets/images/rating.jpg" alt="yandex"></a>
        </div>
      </div>

      <div class="footer-nav-menu">
        <div class="footer-menu">
          <ul>
            
              <li><a href="#">Ремонт iPhone</a></li>

              <li><a href="#">Ремонт iPad</a></li>

              <li><a href="#">Ремонт MacBook</a></li>

              <li><a href="#">Ремонт iMac</a></li>

              <li><a href="#">Скупка</a></li>

              <li><a href="#">Отзывы</a></li>

              <li><a href="#">Контакты</a></li>

          </ul>
        </div>
        <div class="footer-networks">
          <div class="footer-icon-wrapper">

            <a href="#">
              <svg>
                <use href="#whatsApp"></use>
              </svg>
            </a>
            <a href="#">
              <svg>
                <use href="#telegram"></use>
              </svg>
            </a>
          </div>

          <div class="footer-number-phone-wrapper">
            <a href="tel:+74952201106">
              <svg>
                <use href="#icon-phone"></use>
              </svg>
              <p>+7 (495) 220-11-06</p>
            </a>
          </div>
          <p>Одинцово, ул. Маршала Неделина, 2А</p>
        </div>
      </div>

    </div>
    <div class="footer-info">
      <p>Разработка сайта: <a  target="blank" href="https://bydesign.by/">“Студия ЯР”</a></p>
      <p>Информация на сайте не является публичной офертой, определяемой положениями Статьи 437 ГК РФ. Сервисный центр
        OdiFix является постгарантийным (неавторизованным) сервисным центром. © 2023 uWeb</p>
    </div>
  </footer>

</div>