<footer">
  <div class="container">
    <div class="footer">

      <div class="footer__menu">
        <div class="header-nav__logo">
          <a href="main.html">
            <img src="../assets/images/svg/Logo.svg" alt="logo">
            <p>Ремонт техники Apple</p>
          </a>
        </div>
        <ul class="footer__list">
          <li><a href="../categories.html">Ремонт iPhone</a></li>
          <li><a href="../categories.html">Ремонт iPad</a></li>
          <li><a href="../categories.html">Ремонт MacBook</a></li>
          <li><a href="../categories.html">Ремонт iMac</a></li>
          <li><a href="../buyout.html">Скупка</a></li>
          <li><a href="../reviews.html">Отзывы</a></li>
          <li><a href="../contacts.html">Контакты</a></li>
        </ul>

      </div>
      <div class="footer__contacts">
        <a href="#"><img src="../assets/images/rating.jpg" class="footer__contacts-rating" alt="rating"></a>
        <div class="footer__contacts-wrapper">
          <div class="footer__contacts-icon">


            <a href="#">
              <svg>
                <use href="#whatsApp"></use>
              </svg>
            </a>
            <a href="#">
              <svg>
                <use href="#telegram"></use>
              </svg>
            </a>
          </div>

          <div class="footer__contacts-phone-number">
            <a href="tel:+74952201106">
              <svg>
                <use href="#icon-phone"></use>
              </svg>
              <p>+7 (495) 220-11-06</p>
            </a>
          </div>
          <p class="footer__contacts-adress">Одинцово, ул. Маршала Неделина, 2А</p>
        </div>
      </div>

      <div class="footer__down">
        <p>Разработка сайта: <a href="https://bydesign.by/" target="_blank">“Студия ЯР”</a></p>
        <p>Информация на сайте не является публичной офертой, определяемой положениями Статьи 437 ГК РФ. Сервисный центр
          OdiFix является постгарантийным (неавторизованным) сервисным центром. © 2023 uWeb</p>
      </div>
    </div>
  </div>
  </footer>