<header class="header">
 
    <div class="container">
      <div class="header-nav">
        <div class="header-nav__logo">
          <a href="main.html">
            <img src="../assets/images/svg/Logo.svg" alt="logo">
            <p>Ремонт техники Apple</p>
          </a>
        </div>
  
        <ol class="header-nav__menu">
          <!-- <li><a href="#">Ремонт iPhone</a></li> -->
          <li>
            <a href="#">
              <div class="dropdown">
                <button class="dropbtn">Ремонт iPhone </button>
                <div class="dropdown-content">
                  <tr>
                    <a href="#">13 PRO MAX</a>
                    <a href="#">13 PRO</a>
                    <a href="#">13</a>
                    <a href="#">13 MiNi</a>
                    <a href="#">13 MiNi</a>
                  </tr>
  
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="dropdown">
                <button class="dropbtn">Ремонт iPad </button>
                <div class="dropdown-content">
                  <a href="#">iPad</a>
                  <a href="#">iPad 2</a>
                  <a href="#">6</a>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="dropdown">
                <button class="dropbtn">Ремонт MacBook</button>
                <div class="dropdown-content">
                  <a href="#">5</a>
                  <a href="#">5s</a>
                  <a href="#">6</a>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="dropdown">
                <button class="dropbtn">Ремонт iMac</button>
                <div class="dropdown-content">
                  <a href="#">5</a>
                  <a href="#">5s</a>
                  <a href="#">6</a>
                </div>
              </div>
            </a>
          </li>
          <li><a href="#">Скупка</a></li>
          <li><a href="#">Отзывы</a></li>
          <li><a href="#">Контакты</a></li>
        </ol>
  
        <div class="header-nav__contacts">
          <a href="#"><img src="../assets/images/svg/WhatsApp.svg" alt="WhatsApp"></a>
          <a href="#"><img src="../assets/images/svg/Telegram.svg" alt="Telegram"></a>
          <a class="header-nav__number-phone" href="tel:+74952201106">+7 (495) 220-11-06</a>
        </div>
      </div>
    </div>
 
</header>