<header class="header">

  <div class="container">
    <div class="header-nav">
      <div class="header-nav__logo">
        <a href="main.html">
          <img src="../assets/images/svg/Logo.svg" alt="logo">
          <p>Ремонт техники Apple</p>
        </a>
      </div>

      <ol class="header-nav__menu">
        <!-- <li><a href="#">Ремонт iPhone</a></li> -->
        <li>
          <a href="../categories.html">
            <div class="dropdown">
              <button class="dropbtn">Ремонт iPhone </button>
              <div class="dropdown-content">
                <ul>
                  <li><a href="../subcategories.html">iphone 13 Pro Max</a></li>
                  <li><a href="../subcategories.html">iphone 12 Mini</a></li>
                  <li><a href="../subcategories.html">iphone X</a></li>
                  <li><a href="../subcategories.html">iphone 6S</a></li>
                  <li><a href="../subcategories.html">iphone 13 Pro</a></li>
                  <li><a href="../subcategories.html">iphone 11 Pro MAX</a></li>
                  <li><a href="../subcategories.html">iphone SE 2020</a></li>
                  <li><a href="../subcategories.html">iphone 6</a></li>
                  <li><a href="../subcategories.html">iphone 13</a></li>
                  <li><a href="../subcategories.html">iphone 11 Pro</a></li>
                  <li><a href="../subcategories.html">iphone 8+</a></li>
                  <li><a href="../subcategories.html">iphone 6+</a></li>
                  <li><a href="../subcategories.html">iphone 13 Mini</a></li>
                  <li><a href="../subcategories.html">iphone 11</a></li>
                  <li><a href="../subcategories.html">iphone 8</a></li>
                  <li><a href="../subcategories.html">iphone SE</a></li>
                  <li><a href="../subcategories.html">iphone 12 Pro Max</a></li>
                  <li><a href="../subcategories.html">iphone XS Max</a></li>
                  <li><a href="../subcategories.html">iphone 7+</a></li>
                  <li><a href="../subcategories.html">iphone 5S</a></li>
                  <li><a href="../subcategories.html">iphone 12 Pro</a></li>
                  <li><a href="../subcategories.html">iphone XS</a></li>
                  <li><a href="../subcategories.html">iphone 7</a></li>
                  <li><a href="../subcategories.html">iphone 5C</a></li>
                  <li><a href="../subcategories.html">iphone 12</a></li>
                  <li><a href="../subcategories.html">iphone XR</a></li>
                  <li><a href="../subcategories.html">iphone 6S+</a></li>
                  <li><a href="../subcategories.html">iphone 5</a></li>
                </ul>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="../categories.html">
            <div class="dropdown">
              <button class="dropbtn">Ремонт iPad </button>
              <div class="dropdown-content">
                <ul>
                  <li><a href="../subcategories.html">iPad Pro 12.9"</a></li>
                  <li><a href="../subcategories.html">iPad Pro 11"</a></li>
                  <li><a href="../subcategories.html">iPad Pro 10.5"</a></li>
                  <li><a href="../subcategories.html">iPad Pro 9.7"</a></li>
                  <li><a href="../subcategories.html">iPad Air 4</a></li>
                  <li><a href="../subcategories.html">iPad Air 3</a></li>
                  <li><a href="../subcategories.html">iPad Air 2</a></li>
                  <li><a href="../subcategories.html">iPad Air</a></li>
                  <li><a href="../subcategories.html">iPad 8 10.2"(2020)</a></li>
                  <li><a href="../subcategories.html">iPad 7 10.2" (2019)</a></li>
                  <li><a href="../subcategories.html">iPad 6 (2018)</a></li>
                  <li><a href="../subcategories.html">iPad 5 (2017)</a></li>
                  <li><a href="../subcategories.html">iPad 4</a></li>
                  <li><a href="../subcategories.html">iPad 3</a></li>
                  <li><a href="../subcategories.html">iPad 2</a></li>
                  <li><a href="../subcategories.html">iPad Mini 5</a></li>
                  <li><a href="../subcategories.html">iPad Mini 4</a></li>
                  <li><a href="../subcategories.html">iPad Mini 3</a></li>
                  <li><a href="../subcategories.html">iPad Mini 2</a></li>
                  <li><a href="../subcategories.html">iPad Mini</a></li>
                </ul>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="../categories.html">
            <div class="dropdown">
              <button class="dropbtn">Ремонт MacBook</button>
              <div class="dropdown-content">
                <ul>
                  <li><a href="../subcategories.html">MacBook Pro 16" A2141</a></li>
                  <li><a href="../subcategories.html">MacBook Pro 13" A2159</a></li>
                  <li><a href="../subcategories.html">MacBook Pro 15" A1990</a></li>
                  <li><a href="../subcategories.html">MacBook Pro 13" A1989</a></li>
                  <li><a href="../subcategories.html">MacBook Pro 15" A1707</a></li>
                  <li><a href="../subcategories.html">MacBook Pro 13" A1706</a></li>
                  <li><a href="../subcategories.html">MacBook Pro 13" A1708</a></li>
                  <li><a href="../subcategories.html">MacBook Pro 15" A1398</a></li>
                  <li><a href="../subcategories.html">MacBook Pro 13" A1502</a></li>
                  <li><a href="../subcategories.html">MacBook Pro 12" A1534</a></li>
                  <li><a href="../subcategories.html">MacBook Pro 17" A1297</a></li>
                  <li><a href="../subcategories.html">MacBook Pro 15" A1286</a></li>
                  <li><a href="../subcategories.html">MacBook Pro 13" A1278</a></li>
                  <li><a href="../subcategories.html">MacBook Air A2179 (2020)</a></li>
                  <li><a href="../subcategories.html">MacBook Air 13" A1932</a></li>
                  <li><a href="../subcategories.html">MacBook Pro 13" A1466</a></li>
                  <li><a href="../subcategories.html">MacBook Air 11"A1465</a></li>
                </ul>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="../categories.html">
            <div class="dropdown">
              <button class="dropbtn">Ремонт iMac</button>
              <div class="dropdown-content">
                <ul>
                  <li><a href="../subcategories.html">iMac Pro 27" A1862</a></li>
                  <li><a href="../subcategories.html">iMac 27" A1419</a></li>
                  <li><a href="../subcategories.html">iMac 21.5" A1418</a></li>
                  <li><a href="../subcategories.html">iMac 27" A1312</a></li>
                  <li><a href="../subcategories.html">iMac 21.5" A1311</a></li>
                  <li><a href="../subcategories.html">Mac Mini A1993</a></li>
                  <li><a href="../subcategories.html">iMac Mini (2014-2017)</a></li>
                  <li><a href="../subcategories.html">iMac Mini(2010-2012)</a></li>
                </ul>
              </div>
            </div>
          </a>
        </li>
        <li><a href="../buyout.html">Скупка</a></li>
        <li><a href="../reviews.html">Отзывы</a></li>
        <li><a href="../contacts.html">Контакты</a></li>
      </ol>

      <div class="header-nav__contacts">
        <a href="#">
          <svg>
            <use href="#whatsApp"></use>
          </svg>
        </a>

        <a href="#">
          <svg>
            <use href="#telegram"></use>
          </svg>
        </a>
        <a class="header-nav__number-phone" href="tel:+74952201106">+7 (495) 220-11-06</a>
      </div>

      <div class="menu-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>

    </div>


  </div>
  {{> menu}}
</header>