<header class="header">
  <div class="container">
    <div class="header-nav">
      <div class="header-nav__logo">
        <a href="#"><img src="../assets/images/svg/Logo.svg" alt="logo"></a>
      </div>

      <ol class="header-nav__menu">
        <li><a href="#">Ремонт iPhone</a></li>
        <li><a href="#">Ремонт iPad</a></li>
        <li><a href="#">Ремонт MacBook</a></li>
        <li><a href="#">Ремонт iMac</a></li>
        <li><a href="#">Скупка</a></li>
        <li><a href="#">Отзывы</a></li>
        <li><a href="#">Контакты</a></li>
      </ol>

      <div class="header-nav__contacts">
        <a href="#"><img src="../assets/images/svg/WhatsApp.svg" alt="WhatsApp"></a>
        <a href="#"><img src="../assets/images/svg/Telegram.svg" alt="Telegram"></a>
        <a class="header-nav__number-phone" href="#">+7 (495) 220-11-06</a>
      </div>
    </div>

    <div class="header-title">
      <h1 class="header-title__title">Ремонт техники Apple в Одинцово</h1>
      <form class="form-call">
        <input type="text" class="phone-number" id="phone" placeholder="+7 (__) __-__-__">
          <button class="button" type="submit" >Записаться на ремонт</button>
          <p>Отправляя заявку, Вы даете согласие с политикой конфиденциальности согласно Федерального закона №152-ФЗ</p>
      </form>
    </div>


    <div class="header-info">

      <ol class="header-info__info">
        <li>Ремонт при Вас за 20-30 минут!</li>
        <li>Скидка 500р за отзыв в Яндекс, 2gis, Google.</li>
        <li>Используем только качественные запчасти</li>
        <li>Скидка 500р за отзыв в Яндекс, 2gis, Google.</li>
        <li>Реальная гарантия до 1 года</li>
      </ol>
      <div class="header-info__image-phone">
        <img  src="../assets/images/phone.png" alt="phone">
      </div>
      
    </div>
  </div>
</header>