<nav class="header__nav">
  <div class="container ">
    <div class="menu-mobile-wrapper ">
      <div class="header-nav__contacts show-contacts">
        <a href="#">
          <svg>
            <use href="#whatsApp"></use>
          </svg>
        </a>

        <a href="#">
          <svg>
            <use href="#telegram"></use>
          </svg>
        </a>
        <a class="header-nav__number-phone" href="tel:+74952201106">+7 (495) 220-11-06</a>
      </div>

      <ul class="menu  header__menu">
        <div class="accordion-item-menu">
          <div class="accordion-header-menu">iPhone</div>
          <ul class="iPhone-list">
            <a href="#">
              <li>5 </li>
            </a>
            <a href="#">
              <li> 5s </li>
            </a>
            <a href="#">
              <li> 6 </li>
            </a>
            <a href="#">
              <li> 6+ </li>
            </a>
            <a href="#">
              <li> SE </li>
            </a>
            <a href="#">
              <li> 6S </li>
            </a>
            <a href="#">
              <li> 6S+ </li>
            </a>
            <a href="#">
              <li> 7 </li>
            </a>
            <a href="#">
              <li> 7+ </li>
            </a>
            <a href="#">
              <li> 8 </li>
            </a>
            <a href="#">
              <li> 8+ </li>
            </a>
            <a href="#">
              <li> SE2020 </li>
            </a>
            <a href="#">
              <li> XS </li>
            </a>
            <a href="#">
              <li> X </li>
            </a>
            <a href="#">
              <li> XR </li>
            </a>
            <a href="#">
              <li> 5XS MAX </li>
            </a>
            <a href="#">
              <li> 11 </li>
            </a>
            <a href="#">
              <li> 11 Pro </li>
            </a>
            <a href="#">
              <li> 11 Pro MAX </li>
            </a>
            <a href="#">
              <li> 12 MiNi </li>
            </a>
            <a href="#">
              <li> 12 </li>
            </a>
            <a href="#">
              <li> 12 Pro </li>
            </a>
            <a href="#">
              <li> 12 Pro Max </li>
            </a>
            <a href="#">
              <li> 13 MiNi </li>
            </a>
            <a href="#">
              <li> 13 </li>
            </a>
            <a href="#">
              <li> 13 Pro </li>
            </a>
            <a href="#">
              <li> 13 Pro Max </li>
            </a>
            
          </ul>
        </div>

        <div class="accordion-item-menu">
          <div class="accordion-header-menu">iPad</div>
          <ul class="iPad-list">
            <a href="#">
              <li> Mini </li>
            </a>
            <a href="#">
              <li> Mini 2 </li>
            </a>
            <a href="#">
              <li> Mini 3 </li>
            </a>
            <a href="#">
              <li> Mini 4 </li>
            </a>
            <a href="#">
              <li> Mini 5 </li>
            </a>
            <a href="#">
              <li> 2 </li>
            </a>
            <a href="#">
              <li> 3 </li>
            </a>
            <a href="#">
              <li> 4 </li>
            </a>
            <a href="#">
              <li> 5 (2017) </li>
            </a>
            <a href="#">
              <li> 6 (2018) </li>
            </a>
            <a href="#">
              <li> 7 10.2 (2019) </li>
            </a>
            <a href="#">
              <li> 8 10.2 (2020) </li>
            </a>
            <a href="#">
              <li> Air </li>
            </a>
            <a href="#">
              <li> Air 2 </li>
            </a>
            <a href="#">
              <li> Air 3 </li>
            </a>
            <a href="#">
              <li> Air 4 </li>
            </a>
            <a href="#">
              <li> Pro 9.7 </li>
            </a>
            <a href="#">
              <li> Pro 10.5 </li>
            </a>
            <a href="#">
              <li> Pro 11 </li>
            </a>
            <a href="#">
              <li> Pro 12.9 </li>
            </a>
          </ul>
        </div>

        <div class="accordion-item-menu">
          <div class="accordion-header-menu">MacBook</div>
          <ul class="MacBook-list">
            <a href="#">
              <li> Air 11" A1465 </li>
            </a>
            <a href="#">
              <li> Air 13" A1466 </li>
            </a>
            <a href="#">
              <li> Air 13" A1932 </li>
            </a>
            <a href="#">
              <li> Air A2179 (2020) </li>
            </a>
            <a href="#">
              <li> Pro 13" A1278 </li>
            </a>
            <a href="#">
              <li> Pro 15" A1286 </li>
            </a>
            <a href="#">
              <li> Pro 17" A1297 </li>
            </a>
            <a href="#">
              <li> 12" A1534 </li>
            </a>
            <a href="#">
              <li> Pro 13" A1502 </li>
            </a>
            <a href="#">
              <li>Pro 15" A1398 </li>
            </a>
            <a href="#">
              <li> Pro 13" A1708 </li>
            </a>
            <a href="#">
              <li>Pro 13" A1706 </li>
            </a>
            <a href="#">
              <li>Pro 15" A1707 </li>
            </a>
            <a href="#">
              <li>Pro 13" A1989 </li>
            </a>
            <a href="#">
              <li>Pro 15" A1990 </li>
            </a>
            <a href="#">
              <li>Pro 13" A2159 </li>
            </a>
            <a href="#">
              <li> Pro 16" A2141 </li>
            </a>
          </ul>
        </div>

        <div class="accordion-item-menu">
          <div class="accordion-header-menu">iMac</div>
          <ul class="iMac-list">
            <a href="#">
              <li> iMac (24 дюйма, чип M1, 2021 г.) </li>
            </a>
            <a href="#">
              <li> iMac (с дисплеем Retina 5K, 27 дюймов, 2019 г.) </li>
            </a>
            <a href="#">
              <li> iMac (с дисплеем Retina 5K, 27 дюймов, 2020 г.) </li>
            </a>
            <a href="#">
              <li> iMac (с дисплеем Retina 4K, 21,5 дюйма, 2019 г.) </li>
            </a>
            <a href="#">
              <li> iMac Pro </li>
            </a>
          </ul>
        </div>
        <a href="#"><li class="header-menu">Скупка</li></a>
        <a href="#"><li class="header-menu">Отзывы</li></a>
        <a href="#"><li class="header-menu">Контакты</li></a>
      </ul>
    </div>
  </div>

</nav>