<nav class="header__nav">
  <div class="container ">
    <div class="menu-mobile-wrapper ">
      <div class="header-nav__contacts show-contacts">
        <a href="#" class="header-nav-whatsApp">
          <svg>
            <use href="#whatsApp"></use>
          </svg>
        </a>

        <a href="#" class="header-nav-telegram">
          <svg>
            <use href="#telegram"></use>
          </svg>
        </a>

        <a class="header-nav__number-phone" href="tel:+74952201106">+7 (495) 220-11-06</a>
      </div>

      <ul class="menu  header__menu">
        <div class="accordion-item-menu">
          <div class="accordion-header-menu">iPhone</div>
          <ul class="iPhone-list">
            <li> <a href="subcategories.html"> 5 </a></li>

            <li><a href="#">5s</a> </li>


            <li><a href="#"> 6 </a></li>

            <li><a href="#"> 6+</a> </li>


            <li><a href="#">SE</a> </li>


            <li><a href="#">6S </a> </li>


            <li><a href="#">6S+</a> </li>


            <li><a href="#">7 </a> </li>


            <li> <a href="#">7+</a> </li>

            <li><a href="#">8</a> </li>


            <li><a href="#">8+ </a> </li>


            <li><a href="#">SE2020</a> </li>


            <li><a href="#">XS </a> </li>


            <li><a href="#">X</a> </li>


            <li><a href="#">XR</a> </li>


            <li><a href="#">5XS MAX</a> </li>


            <li><a href="#">11 </a> </li>


            <li><a href="#">11 Pro</a> </li>


            <li><a href="#">11 Pro MAX</a> </li>


            <li><a href="#"></a> 12 MiNi </li>


            <li><a href="#">12 </a> </li>


            <li> <a href="#">12 Pro</a> </li>

            <li><a href="#">12 Pro Max</a> </li>

            <li><a href="#">13 MiNi</a> </li>

            <li><a href="#">13</a> </li>

            <li><a href="#"> 13 Pro </a></li>

            <li> <a href="#">13 Pro Max </a></li>


          </ul>
        </div>

        <div class="accordion-item-menu">
          <div class="accordion-header-menu">iPad</div>
          <ul class="iPad-list">

            <li><a href="#">Mini</a> </li>

            <li><a href="#">Mini 2</a> </li>

            <li><a href="#">Mini 3</a> </li>

            <li><a href="#">Mini 4 </a> </li>

            <li><a href="#"> Mini 5</a> </li>

            <li><a href="#">2</a> </li>

            <li> <a href="#">3 </a></li>

            <li> <a href="#">4</a> </li>

            <li> <a href="#">5 (2017)</a> </li>

            <li> <a href="#">6 (2018)</a> </li>

            <li> <a href="#">7 10.2 (2019)</a> </li>

            <li><a href="#">8 10.2 (2020)</a> </li>

            <li> <a href="#">Air</a> </li>

            <li> <a href="#">Air 2 </a></li>

            <li><a href="#"> Air 3 </a></li>

            <li><a href="#">Air 4</a> </li>

            <li><a href="#"> Pro 9.7</a> </li>

            <li> <a href="#">Pro 10.5</a> </li>

            <li> <a href="#">Pro 11 </a></li>

            <li><a href="#">Pro 12.9 </a> </li>

          </ul>
        </div>

        <div class="accordion-item-menu">
          <div class="accordion-header-menu">MacBook</div>
          <ul class="MacBook-list">

            <li><a href="#">Air 11" A1465</a> </li>

            <li><a href="#">Air 13" A1466 </a> </li>

            <li><a href="#">Air 13" A1932</a> </li>

            <li><a href="#">Air A2179 (2020)</a> </li>

            <li><a href="#">Pro 13" A1278 </a> </li>

            <li><a href="#">Pro 15" A1286</a> </li>

            <li> <a href="#">Pro 17" A1297</a> </li>

            <li><a href="#">12" A1534 </a> </li>

            <li><a href="#">Pro 13" A1502 </a> </li>

            <li><a href="#">Pro 15" A1398</a> </li>

            <li><a href="#"> Pro 13" A1708</a> </li>

            <li><a href="#">Pro 13" A1706</a> </li>

            <li><a href="#">Pro 15" A1707</a> </li>

            <li><a href="#">Pro 13" A1989</a> </li>

            <li><a href="#">Pro 15" A1990</a> </li>

            <li><a href="#">Pro 13" A2159</a> </li>

            <li><a href="#">Pro 16" A2141 </a> </li>

          </ul>
        </div>

        <div class="accordion-item-menu">
          <div class="accordion-header-menu">iMac</div>
          <ul class="iMac-list">

            <li><a href="#"> iMac (24 дюйма, чип M1, 2021 г.)</a> </li>

            <li><a href="#">iMac (с дисплеем Retina 5K, 27 дюймов, 2019 г.)</a> </li>

            <li> <a href="#">iMac (с дисплеем Retina 5K, 27 дюймов, 2020 г.)</a> </li>

            <li><a href="#">iMac (с дисплеем Retina 4K, 21,5 дюйма, 2019 г.)</a> </li>

            <li><a href="#"> iMac Pro</a> </li>

          </ul>
        </div>
        <li class="header-menu"> <a href="buyout.html"></a>Скупка</li>
        <li class="header-menu"><a href="reviews.html"></a>Отзывы</li>
        <li class="header-menu"><a href="contacts.html"></a>Контакты</li>
      </ul>
    </div>
  </div>

</nav>