


<div class="popup-requisition-wrapper">
  <div class="popup-requisition">
    <svg class=" popup__icon icon-close">
      <use href="#icon-close"></use>
    </svg>
    <p class="popup__title">Оставить заявку</p>
    <form class="form-call">
      <input type="text" class="phone-number" id="phoneMaskHeader" placeholder="+7 (__) __-__-__">
      <button class="button button-open-thaks" type="submit">Записаться на ремонт</button>
      <p>Отправляя заявку, Вы даете согласие с политикой конфиденциальности согласно Федерального закона №152-ФЗ</p>
    </form>
  </div>
</div>



<div class="popup-thanks-wrapper">
  <div class="popup-thanks">
    <svg class=" popup__icon icon-close-thanks">
      <use href="#icon-close"></use>
    </svg>
    <p class="popup__title">Спасибо за заявку</p>
    <p class="popup-thanks__text">Ваша заявка! Наши менеджеры свяжутся с вами в ближайшее время</p>
  </div>
</div>




<div class="popup-reviews-wrapper">

  <div class="popup-reviews">

    <svg class="popup__icon icon-close-reviews">
      <use href="#icon-close"></use>
    </svg>
    
    <p class="popup__title">Добавить отзыв</p>

    <form action="#" class="popup-reviews__form">
      <input type="text" placeholder="Ваше имя">
      <textarea placeholder="Ваш отзыв"></textarea>
      <div class="file-input">
        <input type="file" id="file" class="file" accept="image/png, image/jpeg">
        <label for="file">
          <div class="file-input__wrapper">
            <div class="file-input__icon">
              <svg>
                <use href="#icon-add"></use>
              </svg>
            </div>
            <span>Добавить фото</span>
          </div>
        </label>
        <div class="file-name__wrapper">
          <div class="file-name--flex">
            <svg class="file-name__icon">
              <use href="#icon-close"></use>
            </svg>
            <p class="file-name"></p>
          </div>

          <p class="popup__text">Допускаются только JPEG, PNG форматы изображения</p>
        </div>
      </div>
      <button class="button">Добавить отзыв</button>
    </form>

    <p class="popup__text">Отправляя заявку, Вы даете согласие с политикой конфиденциальности согласно Федерального
      закона №152-ФЗ</p>

  </div>

</div>



