<!DOCTYPE html>
<html lang="ru">

<head>
  {{> head }}
</head>

<body>

  {{> sprite }}

  <div class="page">

    <!-- Header -->

    {{> header }}

    <!-- Main content -->
    <main>

      {{> body }}

    </main>

    <!-- Footer -->
    {{> footer }}

  </div>

  <!-- popup -->


    {{> popup }}

 

  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


  <!-- JavaScript Bundle with Popper -->
  <script src="/assets/js/index.js"></script>
</body>

</html>